# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local data from MiniStack (AWS emulator)
ministack-data/


# Files with real data (may contain secrets)
*.tfvars
*.tfvars.json
!terraform.tfvars.example