# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Файлы с реальными значениями переменных (могут содержать секреты)
*.tfvars
*.tfvars.json
!terraform.tfvars.example